body {
    height: 100vh;
    background: #F5F5F5;
}

.btn {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
}

.tag.tag-success,
.tag.tag-warning,
.tag.tag-danger {
    width: 72px;
    height: 30px;
    border-radius: 4px;
    border: 0px;
}

.tag-success {
    color: #259B25;
    background: #E9F5E9;
}

.tag-warning {
    color: #FF8D2B;
    background: rgba(255, 193, 95, 0.3);
}

.tag-danger {
    color: #FF2A28;
    background: #FFD2D2;
}

.common-title{
    padding: 30px 30px;
    background: #FFF;
    height: 93px;
    border-bottom: 1px solid #D8D8D8;
}
.common-con{
    background: #FFF;
    padding: 30px;
}