body{
    background: #F5F5F5;
}
.common-title{
    padding: 30px 30px;
    background: #FFF;
    height: 93px;
    border-bottom: 1px solid #D8D8D8;
    /* margin-bottom: 30px; */
}
.common-con{
    background: #FFF;
    padding: 30px;
}